.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
